<h2><%= I18n.t('views.session_lost.session_lost')%></h2>

<p><%= I18n.t('views.session_lost.text')%></p>
<p>
  <button id="session_fixer" class='btn btn-primary'><%= I18n.t('views.session_lost.open_session')%></button>
</p>
